/* Bordered form */

  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4c6baf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 0px 0 25px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 15%;

  }

    /* Sigla image */
    img.sigla {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
    }
  
  /* Add padding to containers */
  .container {
    padding: 5px;
    border-radius: 5%;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
 
    
  }